body{
    padding: 0;
    margin: 0;
    font-family: Tajawal-Regular;
    color:white;

}


@font-face{
    font-family: Tajawal-Regular;
    src:url('../fonts/tajwal/Tajawal-Regular.ttf') ;
}
@font-face{
    font-family: Tajawal-Bold;
    src:url(' ../fonts/tajwal/Tajawal-Bold.ttf') ;
}
@font-face{
    font-family: Emad-DianaeXtra-Regular;
    src:url(' ../fonts/Emad-DianaeXtra-Regular.otf') ;
}

a {
    font-family: Tajawal-Regular;
}

.navbar-brand{
    font-size: 16px !important;
    color:white !important;
}

.products-btn{

}
