/* navbar */
body{
    color: white;
    font-family: Tajawal-Regular;
    min-width: 1300px;
    width: 100%;
    background-image: url(../images/index/background/a2.png);
    top: 0;
    z-index: -100;
    background-position: top;
    overflow:hidden
}


@font-face{
    font-family: Tajawal-Regular;
    src:url('../fonts/tajwal/Tajawal-Regular.ttf') ;
}
@font-face{
    font-family: Tajawal-Bold;
    src:url(' ../fonts/tajwal/Tajawal-Bold.ttf') ;
}
@font-face{
    font-family: Emad-DianaeXtra-Regular;
    src:url(' ../fonts/Emad-DianaeXtra-Regular.otf') ;
}

.damn{
    height: 1000px;

}
.bg-index{
    height: 4392px !important;
}
.bg-subpages{
height: 1655px ;
}

.read-more1{
    height: 70px;
    overflow: hidden;
}

h1,h2,h3,h4,h5 {
    font-family: Tajawal-Bold;
    color: #e7b66a;
}

a{
    color: white;
}

.path-underline{
    border-bottom: #e7b66a solid 2px;
    color: #e7b66a !important;
    padding-bottom: 5px !important;
}

a:hover{
    text-decoration-line: none !important;
}



nav a{
    font-size: 18px;
    padding: 0 10px !important;


}

nav div{
    padding: 0 !important;
    margin: 0 10px;
}


.rectangle{
    width: 100%;
    background-image: url(../images/index/menu/Rectangle.png);
    height: 90%;
    background-repeat: round;
    padding: 0 2em 0 0;



}




header h1{
    font-family: Tajawal-Bold;
    color: #e7b66a;
    font-size: 45px;
}

header p{
    font-family: Tajawal-Regular;
    color: #ffffff;
    text-align: right;
    font-size: 22px;
}

header img{
    cursor: pointer;
}

.h-spacer{
    height: 150px;
}

header div.register{
    /* margin-top: 150px; */
    font-family: Emad-DianaeXtra-Regular;
    cursor: pointer;
    /* margin-bottom: 100px; */
}

.registerimg{
    background-image: url(../images/index/header/register.png);
    height: 100px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;

}



.shop h1{
    font-family: Tajawal-Bold;
    color: #e7b66a;
}

.shopimg{
    height: 30px;
    width: 1200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/index/shop/LINE.png);
    background-position: center;
}

.products{
    margin-top: 80px;

}

.products h5{
    font-family: Tajawal-Bold;
    color: #e7b66a;
    font-size: 26px;
    margin-top: 20px;
}

.product-outline{
    background-image: url(../images/index/shop/product-outline.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    width: 265px;
}
.product-background{
    background-image: url(../images/index/shop/product-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    width: 265px;
    position: absolute;
}
.product-img-container{
    height: 140px;
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.price-img{
    background-image: url(../images/index/shop/price.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 27px;
    width: 27px;
    display: inline-block;
}

.price span{
    font-family: Tajawal-Bold;
}

.discount{
    background-image: url(../images/index/shop/discount.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3px;
    width: 80px;
    position: absolute;
    right: 50px;
}

.show-more{
    background-image: url(../images/index/shop/show-more.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 242px;
    font-family: Tajawal-Bold;
    color: #2d1314;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.story h1{
    margin-top: 100px;
    margin-bottom: 0px;
}

.story-picture{
    background-image: url(../images/index/story/picture.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    z-index: -10;
    position: relative;
    bottom: -60px;
}


.half1,.half2{
    z-index: -5;
}

.half1{
    background-image: url(../images/index/story/half1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:  140.16px;
    width: 700px;
}

.half2{
    background-image: url(../images/index/story/half2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 240.876px;
    width: 700px;
    position: relative;
    top: -335px;
}

.story-para p{
    background-color: #2d1314;
    padding: 0 90px 0 90px;
    font-size: 12px;
    width: 677px !important;
}

.char{
    top: -200px;
}

.charbox {
    height: 120px;
    width: 90px;
    position: relative;
}
.charbox-item {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.orc-char{
    background-image: url(../images/index/char/orc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.camile-char{
    background-image: url(../images/index/char/camile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.human-char{
    background-image: url(../images/index/char/human.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dark-elf-char{
    background-image: url(../images/index/char/dark-elf.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dwarf-char{
    background-image: url(../images/index/char/dwarf.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.elf-char{
    background-image: url(../images/index/char/elf.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.char-para{
    background-image: url(../images/index/char/char-para.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    padding: 0 220px 0 220px;
}

.char-para-container{
    position: relative;
    right: 90px;

}

.chars {
    z-index: 15;
}
.big-chars{
    z-index: 10;
}

.big-char-item img.img1 {
    position: absolute;
    transform: translate(-50%, 20%);
    z-index: 1;
    height: 500px;
}
.big-char-item img.img2 {
    position: absolute;
    transform: translate(-100%, 20%);
    z-index: 0;
    height: 500px;
}
.big-char1{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 500px;
    position: relative;
    top: 50px;
    right: -40px;
}

.big-char2{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    margin-top: 70px;
    position: relative;
    right: -190px;
    top: 50px;
}

.big-char-orc .big-char1 {
    background-image: url(../images/index/char/OrcMale.png);
}

.big-char-orc .big-char2 {
    background-image: url(../images/index/char/OrcFemale.png);
}

.big-char-human .big-char1 {
    background-image: url(../images/index/char/human1.png);
}

.big-char-human .big-char2 {
    background-image: url(../images/index/char/human2.png);
}

.big-char-elf .big-char1 {
    background-image: url(../images/index/char/elf1.png);
}

.big-char-elf .big-char2 {
    background-image: url(../images/index/char/elf2.png);
}

.big-char-darkelf .big-char1 {
    background-image: url(../images/index/char/dark1.png);
}

.big-char-darkelf .big-char2 {
    background-image: url(../images/index/char/dark2.png);
}

.big-char-camile .big-char1 {
    background-image: url(../images/index/char/camile1.png);
}

.big-char-camile .big-char2 {
    background-image: url(../images/index/char/camile2.png);
}

.big-char-dwarf .big-char1 {
    background-image: url(../images/index/char/dwarf1.png);
}

.big-char-dwarf .big-char2 {
    background-image: url(../images/index/char/dwarf2.png);
}

.big-char-item {
    display: none;
}


.char-para h1{
    font-family: Tajawal-Bold;
    padding-top: 40px;

}

.char-para p{
    font-size: 12px;
    color: #b86948;
}

.iframe-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .iframe-container iframe{
    width: 100%;
    height: 250px;
  }

  .upper-f{
    background-color: #2d1314 ;
  }

  .lower-f{
    background-color: #190809 ;
    padding: 30px 0;
  }

  .upper-f,.upper-1,.upper-2{
    padding: 0;
  }
  input ,textarea{
    color: #b86948 !important;
    text-align: right !important;
  }
  input::placeholder , textarea::placeholder{
    color: #603234;
    text-align: right;
    font-family: Tajawal-Regular;
    font-size: 14px;
  }

  input{
    background-color: transparent;
    border: 1px solid #603234;
    height: 40px;
  }

  textarea {
    background-color: transparent;
    border: 1px solid #603234;
    margin-top: 30px;
  }

  .pic1{
    background-image: url(../images/index/footer/pic2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
  }

  .pic2{
    background-image: url(../images/index/footer/pic1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
  }

  .date-img{
    background-image: url(../images/index/footer/calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 11px;
    width: 11px;
  }

  .message-img{
    background-image: url(../images/index/footer/message-square.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 11px;
    width: 11px;
  }

  .twetter-img{
    background-image: url(../images/index/footer/twitter.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 14px;
    width: 14px;
    margin-left: 4px;
  }

  select{
    width: 100px;
    padding-left: 50px;
    -webkit-appearance: none;
    background-color: #190809;
    color: #e7b66a;
    cursor: pointer;
  }
  .lang{
    display: inline-block;
    position: relative;

  }
 .lang::after{
    content: '\25bc';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 8px;
    color: #e7b66a;
    line-height: 30px;
    font-size: 9px;
    pointer-events: none;

}

.send{
    border: 0;
    width: 80px;
    margin-left: auto;
    background-color: #b86948;
    font-family: Tajawal-Bold;
    font-size: 14px;
    padding: 4px;
    margin-top: 15px;
}

.icons i{
    margin: 0 10px;
    color: #b86948;
    cursor: pointer;
}

input:focus , textarea:focus {
    border:1px solid #b86948;
    outline: none;
  }


input::placeholder:focus , textarea::placeholder:focus{
    color: #b86948 !important;
    font-size: 20px;

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.form-container{
    text-align: right;
    padding: 50px;
    margin: 200px 0;
    background: #2d1314;
    border-radius: 15px;
}

.paginations {
    display: inline-block;
  }

  .paginations a {
    padding: 8px 16px !important;
    text-decoration: none;
  }

  .paginations a.active {
    background-color: #e7b66a;
    color: white;
    border-radius: 5px;
  }

  .paginations a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  .paginations .arrow:hover:not(.active){
    background-color: transparent;
  }

  /* ------------------ albums --------------- */

  div.gallery {
    margin: 0px;
    padding: 0;
    background-color: #190809 ;
    align-items: center;


  }

  .single-gallery{
    padding: 0 25px;
    margin-bottom: 70px;

  }

  .single-gallery:hover {
    transform: scale(1.02);
    filter: brightness(120%);
  }

  .single-gallery img {
    width: 100%;
    height: auto;
  }
  div.gallery .img-bg {
    width: 100%;
    height: 177.08px;
    background-color: white;
  }
  div.gallery .img-bg2 {
    width: 100%;
    height: 177.08px;
    background-color: black;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  .play-video{
    position:absolute;
    font-size:6vw;
    opacity: 50%;
  }

  .play-video:hover{
    opacity: 100%;
 }


  /* ------------------ news --------------- */

  .news-container{
    padding: 0;
    margin: auto;
    text-align: right;
    flex-direction: row-reverse;

  }
  .news-img-container{
    padding: 0;
  }

  .news-img{
    height: auto;
    width: 100%;
  }

  .single-news{
      padding: 0;
      background-color: #190809 ;
      align-items: center;
      margin-bottom: 70px;
  }

  /* ------------------ infos --------------- */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 0;
    padding: 0;
    background-color: #30191a;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

  .card h5{
    color: #d8b989;
  }
/* responsive */

@media only screen and (min-width: 1536px){
    .char-para{
        background-image: url(../images/index/char/char-para.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        padding: 0 290px 0 290px ;
    }

    /* .iframe-container iframe{
        width: 100%;
        height: 230px;
      } */


}

@media only screen and (min-width: 1736px){
    .char-para{
        padding: 0 340px 0 340px ;
    }
}
@media only screen and (min-width: 1836px){
    .char-para{
        padding: 0 360px 0 360px;
    }
}






@media only screen and (max-width: 1300px){
.char-para{
    background-image: url(../images/index/char/char-para.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    padding: 0 170px 0 170px;
    }

    /* .iframe-container iframe{
        width: 100%;
        height: 215px;
      } */
}
@media only screen and (max-width: 1300px){
    .slideshow-text{
        top: 103px !important;
    }
    .register{
        top: 463px !important;
    }
}


/* ---------------------- Header -----------------------*/
#header {
    /* background: url(../images/index/background/bg.png); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: top; */
}
.header-bot {
    background: url(../images/index/background/filter.png);
    height: 350px;
    width: 100%;
    margin-top: -150px;
    opacity: .6;
}

/* ---------------------- Chars -----------------------*/
.inactive-back {
    background: url(../images/index/char/inactive.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 70%;
    position: absolute;
    top: 20%;
    z-index: -1;
    width: 90%;
    left: 5%;


}

.active-back {
    background: url(../images/index/char/active.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 70%;
    position: absolute;
    top: 20%;
    z-index: -1;
    display: none;
    width: 90%;
    left: 5%;
}


/* ------------------ mobile responsive --------------------- */

/* ------------- 320 ------------ */
#main{
    display: none;
}
.story-para-chars{
    display: none;
}
.story-para-chars{
    position: absolute;
    opacity: 0;
}
@media only screen and (max-width: 500px){

    #openNav{
        display: block !important;
    }
    body{
        min-width: 320px;
    }
    #main{
        display: block;
    }

    .pc-nav{
        display: none !important;
    }
    .header-bot {
        background: url(../images/index/background/filter.png);
        height: 60px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: repeat-x;
        margin-top: -25px;
        opacity: .7;
    }
    html::-webkit-scrollbar {
        display: none;
      }

     #mySidebar {
        padding: 10px 0;
        font-size: 14px;
     }
     #mySidebar div{
         margin-left: auto;
         margin: 4px 0;
         padding: 0 14px !important;
         color: #b86948;
     }
     #mySidebar button{


         padding: 0 14px !important;

     }
     #mySidebar div a{
         color: inherit;
     }

     .path-active{
         border-bottom: 0;
         color: #e7b66a !important;
         background-color: rgb(60, 34, 26);
         margin: 0 !important;
     }
     .slideshow-text{
        display: none;
     }

     .register{
        top: 120px !important;
        margin-left: -62.4px !important;
     }

     .registerimg{
        height: 48px;
        width: 120px;
     }
     .registerimg h2{
        font-size: 14px;
        padding-top: 7px !important;
     }

     .shopimg{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }
     .shopimg h1{
        font-size: 20px !important;
     }
     .index-products{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .products{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        margin-top: 20px !important;
     }

     .story-container{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     #story-p{
        font-size: 10px !important;
        padding: 0 25px !important;
        /* padding-left: 20px; */
        margin-right: 20px !important;
        width: 365px !important;
        margin-bottom: 40px !important;
     }

     .half1{
        height: 140.16px !important;
        width: 90% !important;
     }

     .half2{
        height: 240.876px !important;
        width: 90% !important;
     }

     .story-picture{
        flex: none !important;
        width: 300px;
        max-width: none !important;
        height: 160px !important;
        bottom: -60px !important;
     }

     /* .story-para h5{
        margin-bottom: 5px !important;
     } */

     .story-para p{
        padding: 0 15px 0 15px;
        font-size: 10px;
        margin-left: 29px !important;
        width: 365px !important;
     }

     .story-para {
        width: 420px;

     }




     .h5-date{
        margin-bottom: -3px !important;
     }
     .h5-title{
        font-size: 14px !important;
        margin-top: 45px !important;
     }
     .char{
        top: -280px !important;
     }
     .char-parent{
        margin-top: -250px !important;
     }
     .left-chars-container{
         display: none !important;
     }
     .right-chars-container{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .chars{
        flex-wrap: wrap !important;
     }

     .charbox{
        height: 120px !important;
        width: 80px !important;
     }

     .char-para{
         display: none !important;
     }

     .story-para-chars{
         display: block;
         position: initial;
         opacity: initial;
     }

     .story-para-chars iframe{
            background-color: #2d1314;
            padding: 0 30px 0 20px;
            margin-top: -15px;
            margin-bottom: 35px;
            margin-left: 9px;
            width: 365px ;
            height: 200px !important;
     }

     .dwarf-mobile{
        height: 100px !important;
     }


     footer{
        /* margin-top: -400px; */
     }

     .row-rfrs{
        flex-direction: column-reverse;
     }

     .upper-1{
        margin: 40px 0;
        width: 100% !important;
     }

     .upper-2{
        width: 100% !important;
     }

     .upper-2-body a{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .upper-2-body a div{
        flex-direction: column-reverse;
        text-align: center !important;
     }

     .upper-2-body a div img{
        width: 150px !important;
        height: 100px !important;
        margin: auto !important;
        margin-bottom: 15px !important;
     }

     .date-img{
        margin-left: initial !important;
     }

     .date p{
        margin-left: unset !important;
     }

     #date{
        justify-content: center !important;
        flex-direction: initial;;
     }

     #single-news-para{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        flex-direction: column !important;
        display: block !important;
     }

     .lang-c{
         display: none !important;
     }

     .lower-f h5{
         margin-left: unset !important;
     }

     .lower-f  div{
        justify-content: center !important;
     }

     .icons{
        margin-bottom: 10px !important;
        width: 100%;

     }

     footer h3{
        text-align: center !important;
     }

     .news-container div{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .news-container{
        margin-top: 20px !important;
     }

     .single-news{
        flex-wrap: wrap !important;
        text-align: center !important;
     }

     .single-news-body{
        margin: unset !important;
        padding: 10px 15px !important;
     }

     .join-pc{
        flex-wrap: wrap;
     }

     .join-download{
        flex-wrap: wrap;
     }

     .join-patch{
        margin-bottom: 3rem!important;
     }

     .join-container h2{
        font-size: 24px !important;
     }

 }
@media only screen and (max-width: 320px){

    #openNav{
        display: block !important;
    }
    body{
        min-width: 320px;
    }
    #main{
        display: block;
    }

    .pc-nav{
        display: none !important;
    }
    .header-bot {
        background: url(../images/index/background/filter.png);
        height: 60px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: repeat-x;
        margin-top: -25px;
        opacity: .7;
    }
    html::-webkit-scrollbar {
        display: none;
      }

     #mySidebar {
        padding: 10px 0;
        font-size: 14px;
     }
     #mySidebar div{
         margin-left: auto;
         margin: 4px 0;
         padding: 0 14px !important;
         color: #b86948;
     }
     #mySidebar button{


         padding: 0 14px !important;

     }
     #mySidebar div a{
         color: inherit;
     }

     .path-active{
         border-bottom: 0;
         color: #e7b66a !important;
         background-color: rgb(60, 34, 26);
         margin: 0 !important;
     }
     .slideshow-text{
        display: none;
     }

     .register{
        top: 100px !important;
        margin-left: -52px !important;
     }

     .registerimg{
        height: 40px;
        width: 100px;
     }
     .registerimg h2{
        font-size: 14px;
        padding-top: 7px !important;
     }

     .shopimg{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }
     .shopimg h1{
        font-size: 20px !important;
     }
     .index-products{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .products{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        margin-top: 20px !important;
     }

     .story-container{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     #story-p{
        font-size: 10px !important;
        padding: 0 25px !important;
        /* padding-left: 20px; */
        margin-left: 20px !important;
        width: 285px !important;
        margin-bottom: 40px !important;

     }

     .half1{
        height: 140.16px !important;
        width: 90% !important;
     }

     .half2{
        height: 240.876px !important;
        width: 90% !important;
     }

     .story-picture{
        flex: none !important;
        width: 300px;
        max-width: none !important;
        height: 160px !important;
        bottom: -60px !important;
     }

     /* .story-para h5{
        margin-bottom: 5px !important;
     } */

     .story-para p{
        padding: 0 15px 0 15px;
        font-size: 10px;
        margin-left: 20px !important;
    width: 285px !important;

     }

     .story-para {
        width: 320px;

     }




     .h5-date{
        margin-bottom: -3px !important;
     }
     .h5-title{
        font-size: 14px !important;
        margin-top: 45px !important;
     }
     .char{
        top: -280px !important;
     }
     .char-parent{
        margin-top: -250px !important;
     }
     .left-chars-container{
         display: none !important;
     }
     .right-chars-container{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .chars{
        flex-wrap: wrap !important;
     }

     .charbox{
        height: 120px !important;
        width: 80px !important;
     }

     .char-para{
         display: none !important;
     }

     .story-para-chars{
         display: block;
         position: initial;
         opacity: initial;
     }

     .story-para-chars iframe{
            background-color: #2d1314;
            padding: 0 30px 0 20px;
            margin-top: -15px;
            margin-bottom: 35px;
            margin-left: 4px;
            width: 285px;
            height: 200px !important;
     }

     .dwarf-mobile{
        height: 100px !important;
     }


     footer{
        /* margin-top: -400px; */
     }

     .row-rfrs{
        flex-direction: column-reverse;
     }

     .upper-1{
        margin: 40px 0;
        width: 100% !important;
     }

     .upper-2{
        width: 100% !important;
     }

     .upper-2-body a{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .upper-2-body a div{
        flex-direction: column-reverse;
        text-align: center !important;
     }

     .upper-2-body a div img{
        width: 150px !important;
        height: 100px !important;
        margin: auto !important;
        margin-bottom: 15px !important;
     }

     .date-img{
        margin-left: initial !important;
     }

     .date p{
        margin-left: unset !important;
     }

     #date{
        justify-content: center !important;
        flex-direction: initial;;
     }

     #single-news-para{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        flex-direction: column !important;
        display: block !important;
     }

     .lang-c{
         display: none !important;
     }

     .lower-f h5{
         margin-left: unset !important;
     }

     .lower-f  div{
        justify-content: center !important;
     }

     .icons{
        margin-bottom: 10px !important;
        width: 100%;

     }

     footer h3{
        text-align: center !important;
     }

     .news-container div{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .news-container{
        margin-top: 20px !important;
     }

     .single-news{
        flex-wrap: wrap !important;
        text-align: center !important;
     }

     .single-news-body{
        margin: unset !important;
        padding: 10px 15px !important;
     }

     .join-pc{
        flex-wrap: wrap;
     }

     .join-download{
        flex-wrap: wrap;
     }

     .join-patch{
        margin-bottom: 3rem!important;
     }

     .join-container h2{
        font-size: 24px !important;
     }

 }
/* @media only screen and (max-width: 320px){

    #openNav{
        display: block !important;
    }
    body{
        min-width: 320px;
    }
    #main{
        display: block;
    }

    .pc-nav{
        display: none !important;
    }
    .header-bot {
        background: url(../images/index/background/filter.png);
        height: 60px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: repeat-x;
        margin-top: -25px;
        opacity: .7;
    }
    html::-webkit-scrollbar {
        display: none;
      }

     #mySidebar {
        padding: 10px 0;
        font-size: 14px;
     }
     #mySidebar div{
         margin-left: auto;
         margin: 4px 0;
         padding: 0 14px !important;
         color: #b86948;
     }
     #mySidebar button{


         padding: 0 14px !important;

     }
     #mySidebar div a{
         color: inherit;
     }

     .path-active{
         border-bottom: 0;
         color: #e7b66a !important;
         background-color: rgb(60, 34, 26);
         margin: 0 !important;
     }
     .slideshow-text{
        display: none;
     }

     .register{
        top: 100px !important;
        margin-left: -52px !important;
     }

     .registerimg{
        height: 40px;
        width: 100px;
     }
     .registerimg h2{
        font-size: 14px;
        padding-top: 7px !important;
     }

     .shopimg{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }
     .shopimg h1{
        font-size: 20px !important;
     }
     .index-products{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .products{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        margin-top: 20px !important;
     }

     .story-container{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     #story-p{
        font-size: 10px !important;
        padding: 0 25px !important;
        margin-right: 15px !important;
        width: 285px !important;
        margin-bottom: 40px !important;
     }

     .half1{
        height: 140.16px !important;
        width: 90% !important;
     }

     .half2{
        height: 240.876px !important;
        width: 90% !important;
     }

     .story-picture{
        flex: 0 0 90% !important;
        max-width: 90% !important;
        height: 160px !important;
        bottom: -60px !important;
     }



     .story-para p{
        padding: 0 15px 0 15px;
        font-size: 10px;
        margin-left: 20px;
        width: 284px !important;
     }

     .h5-date{
        margin-bottom: -3px !important;
     }
     .h5-title{
        font-size: 14px !important;
        margin-top: 45px !important;
     }
     .char{
        top: -280px !important;
     }
     .char-parent{
        margin-top: -250px !important;
     }
     .left-chars-container{
         display: none !important;
     }
     .right-chars-container{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .chars{
        flex-wrap: wrap !important;
     }

     .charbox{
        height: 120px !important;
        width: 80px !important;
     }

     .char-para{
         display: none !important;
     }

     .story-para-chars{
         display: block;
         position: initial;
         opacity: initial;
     }

     .story-para-chars iframe{
            background-color: #2d1314;
            padding: 0 30px 0 20px;
            margin-top: -15px;
            margin-bottom: 35px;
            margin-left: 4px;
            width: 98.5% !important;
            height: 200px !important;
     }

     .dwarf-mobile{
        height: 100px !important;
     }


     footer{

     }

     .row-rfrs{
        flex-direction: column-reverse;
     }

     .upper-1{
        margin: 40px 0;
        width: 100% !important;
     }

     .upper-2{
        width: 100% !important;
     }

     .upper-2-body a{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .upper-2-body a div{
        flex-direction: column-reverse;
        text-align: center !important;
     }

     .upper-2-body a div img{
        width: 150px !important;
        height: 100px !important;
        margin: auto !important;
        margin-bottom: 15px !important;
     }

     .date-img{
        margin-left: initial !important;
     }

     .date p{
        margin-left: unset !important;
     }

     #date{
        justify-content: center !important;
        flex-direction: initial;;
     }

     #single-news-para{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        flex-direction: column !important;
        display: block !important;
     }

     .lang-c{
         display: none !important;
     }

     .lower-f h5{
         margin-left: unset !important;
     }

     .lower-f  div{
        justify-content: center !important;
     }

     .icons{
        margin-bottom: 10px !important;
     }

     footer h3{
        text-align: center !important;
     }

     .news-container div{
        flex: 0 0 100% !important;
        max-width: 100% !important;
     }

     .news-container{
        margin-top: 20px !important;
     }

     .single-news{
        flex-wrap: wrap !important;
        text-align: center !important;
     }

     .single-news-body{
        margin: unset !important;
        padding: 10px 15px !important;
     }

     .join-pc{
        flex-wrap: wrap;
     }

     .join-download{
        flex-wrap: wrap;
     }

     .join-patch{
        margin-bottom: 3rem!important;
     }

     .join-container h2{
        font-size: 24px !important;
     }

 } */



